.button {
    -fx-background-color: transparant;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-background-insets: 1px;
}

.button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.4);
}

VBox {

}

Pane {
    -fx-background-color: rgba(0,0,0,0.7);
}